.main-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(303deg, #fff9f7, #ffad92);
  background-image: linear-gradient(147deg, #fff9f7, #ffad92);
}

.melmheading {
  display: block;
  margin-top: 0px;
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

.center-div {
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.center-div:hover {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.text {
  margin-top: 30px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Source Code Pro', sans-serif;
  text-align: center;
}

